# Ignore Python virtual environments
venv/
ENV/
env/
__pycache__/
*.pyc

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore other common unnecessary files
*.log
